<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Name</th>
                <th>Order Count</th>
                <th>Order Sum</th>
                <th>Select</th>
            </tr>
          </thead>
          <tbody>

            {% for company in company_list %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>{{ company.ocount }}</td>
                    <td>{{ company.ototal|floatformat:2 }}</td>
                    <td><input type="checkbox" name="select{{company.pk}}" id=""></td>
                </tr>
                {% for companydata in company_data %}
                    {% if companydata.cid == company.id %}
                        <tr>
                            <td></td>
                            <td>{{ companydata.fname }} {{companydata.lname}}</td>
                            <td>Orders: {{ companydata.ordercount }}</td>
                            <td></td>

                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}

          </tbody>

        </table>
    </div>


</div>
<nav aria-label="Page navigation example">
{% if company_list %}

  <ul class="pagination justify-content-center">

      {%  for i in totalpages %}
        <li class="page-item"><a class="page-link" href="?page={{ i| add:1 }}">{{ i|add:1 }}</a></li>
      {% endfor %}

  </ul>
{% endif %}
</nav>

	<script>
	$(document).ready(function(){
		$("table tr").hover(function(){
				$("table *").css("background-color", ""); // remove background color from everything (un-hover)
			hoveretr = this;
		$("td:contains(.)").each(function(){

	 function processchildrow(theparentrow) {
		 parenttbl = $(theparentrow).parents("table");
		 found = 0; // find state machine marker
		 markrows = new Array();
		 parenttbl.find("tr").each(function(){
			 var foundrow = this;
			 if(found == 0 && foundrow == theparentrow) found = 1;
			 if(found == 1 && $(foundrow).is(":contains(Orders)")) {
				 orderscll= $(foundrow).find("td").eq(2);
				 numorders=+orderscll.text().split(" ")[1]; //use + for faster integer
				 if(numorders>3) markrows[markrows.length]=foundrow;//put in array for marking later
				 return
			 }
			 if(found == 1 && foundrow != theparentrow  &&  $(foundrow).find("td:first").text().length) // has company name in first cell
				 found = 2;
		 });
		 for(key in markrows) {
			 row=markrows[key]
			 $(row).find("td").css("background-color", "yellow");
		 }
		 return markrows


	 }

			price = $(this).text();
			trueprice = "";
			if (price.indexOf(".", price.length - ".".length) === -1)
			{
				trueprice = price;
			}

			if (trueprice)
			{
				if (parseInt(trueprice) > 50000)
				{
					finalprice = parseInt(trueprice);
					firstsib = $(this).siblings(":first");
					therow = $(firstsib).parents("tr");

					$(therow).find("td").each(function(elem){
						elem = $(this);

						if(therow[0] !== hoveretr) return; // === better than ==

						if($(elem).css("background-color"))
							$(elem).css("background-color", ""); // remove background color

						$(elem).css("background-color", 'green');
						processchildrow(therow[0]);
					});
				}
				else
				{
					finalprice = parseInt(trueprice);
					firstsib = $(this).siblings(":first");
					therow = $(firstsib).parents("tr");

					$(therow).find("td").each(function(elem){
						elem = $(this);
						if(therow[0] !== hoveretr) return; // === better than ==

						if($(elem).css("background-color"))
							$(elem).css("background-color", ""); // remove background color

						$(elem).css("background-color", 'orange');
					});
				}
			}


		});
		});
	});
	</script>
</body>
</html>